[Unit]
Description=J-Login
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/j-login

[Install]
WantedBy=graphical.target
Also=j-login-sleep.service
