[Unit]
Description=J-Login sleep hook
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pkill -USR1 j-login
ExecStart=/bin/sleep 0.2

[Install]
WantedBy=sleep.target
